#sikertelen
{
    list-style-image: url(Img/icon_bad.png);
    
}

#sikeres
{
    list-style-image: url(Img/icon_good.png);
    
}

#keretsiker
{
    border-style: outset;
    color: red;
}

#keretsikert
{
    border-style: outset;
    color: green;
}