#sikertelen
{
    list-style-image: url(Img/icon_bad.png);
    
}

#sikeres
{
    list-style-image: url(Img/icon_good.png);
    
}

#keretsiker
{
    border-style: outset;
    border-color: red;
    border-radius: 8px;
    border-bottom-width: 9px;
    border-right-width: 9px;
    border-bottom-color: rgba(255, 0, 0, 0.442);
    
}

#keretsikert
{
    border-style: outset;
    border-color: green;
    border-radius: 8px;
    border-bottom-width: 9px;
    border-right-width: 9px;
}