#sikertelen
{
    list-style-image: url(Img/icon_bad.png);
    
}

#sikeres
{
    list-style-image: url(Img/icon_good.png);
    
}

#keretsiker
{
    width: 400px;
    border-style: groove;
    border-color: red;
    border-radius: 8px;
    border-bottom-width: 9px;
    border-right-width: 9px;
    
}

#keretsikert
{
    width: 500px;
    border-style: groove;
    border-color: green;
    border-radius: 8px;
    border-bottom-width: 9px;
    border-right-width: 9px;
}

#hasab
{
    display: flex;
    flex-flow: column wrap;
    height: 690px;
}

img
{
    width: 100px;
}